body {width: 100%; background-color: gold; margin: 0 auto; text-align: center; font-family: "Arial Black", Gadget, sans-serif;
grid: display;
 grid-template-areas: "header"
                      "main"
                      "footer";
}

a {color: black;}
header{display: flex;}
img {height: 500px;}


header{grid-area: header;}
main{grid-area: main; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
footer{grid-area: footer;}

h2 {text-align: center;}

div {box-sizing: border-box; padding: 15px;}


ul { list-style-type: none;}
.icon-n {font-size: 30px;}
.icon-e {font-size: 30px;}
.icon-o {font-size: 30px;}



@media screen and (max-width: 600px) {header{display: block;}
 .img{width: 98%; height: auto;}
 main {grid-template-columns: 1fr; display: block;}
}
