body { background-color: gold; margin: 0 auto; font-family: "Arial Black", Gadget, sans-serif; width: 75%;
}

a { color: black;}
header{text-align: center;}
#corp {display: none;}
h1{text-align: center; font-size: 2.5em;}

main{display: grid; grid-template-columns: repeat(4, 1fr); }

h2 {text-align: center; font-size: 2em;}
h3 {text-align: center; font-size: 1.5em;}
div {box-sizing: border-box; padding: 15px;}


ul { list-style-type: none;}
    
@media screen and (max-width: 600px) {header{display: block;}
body {width: 98%;}
#cor {display: none;} #corp {display: block; width: 99%;}
 main {display: block;}
}
