body { background-color: #FFDB58;  font-family: 'Passion One', cursive; display: block; 
}

a { color: black;}
#corp {display: none;}
#cor {width: 400px;}
header{text-align: center; display: block;}
nav {display: flex; cursor: pointer;}
main {font-size: 2em;}
h1 {text-align: center; font-size: 2.3em;}
h2 {text-align: center; font-size: 2.5em; margin-left: 60px;}
h3 {text-align: center; font-size: 5em;}

.tabPanel {display: none;}
[data-tab-content] {display: none;
} 
.active[data-tab-content] {display: block;
}


#media {display: none; font-size: 2em; text-align: center;}
#lem {font-size: 1.5em; margin-bottom: 400px;}
button{background-color: #FFDB58; color: black; border: none; font-family: 'Passion One', cursive; font-size: 2em; margin-bottom: 60px;}
#who {display: none;}
#que {display: none;}
#vis {display: none;}
#val {display: none;}

@media screen and (max-width: 600px) {
body {width: 98%;}
#cor {display: none;}
#corp {display: block; width: 99%;}
nav {display: none;}
main {display: none;}
footer {display: none;}
#media {display: block;}
}
