body{ background-color: #FFDB58 ; font-family: 'Josefin Sans', sans-serif; margin: 0 auto; text-align: center; width: 75%;}

a{color: black; font-size: 48px;}
h1 {font-size: 30px; margin: 10px;}
h2 {font-size: 26px; margin: 5px;}

 .w{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; 
  }

  button {background-color:#FFDB58;  border: none; cursor: pointer; font-family: 'Josefin Sans', sans-serif; font-size: 30px;}
  
  header {display: flex; box-sizing: border-box; padding: 20px; margin-bottom: 80px; justify-content: center;}


 .sidepanel {display: none;}
 
#openbtn {display: none;}

.topnav button {box-sizing: border-box; padding: 30px; margin-left: 100px;
}
.sidepanel button {box-sizing: border-box; color: #FFDB58; background-color: #111;}

#med, #abo {display: none;}

.pre, .pos { cursor: default; box-sizing: border-box; padding: 20px; cursor: pointer;}



img  {height: 100px;}

  

#who {display: none;}
#que {display: none;}
#vis {display: none;}
#val {display: none;}

@media screen and (max-width: 600px) {body {width: 100%;}
    img {width: 99%; height: auto;}
    header{display: block;}
    .topnav{display: none;}
    .sidepanel {display: block; height: 250px; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */}
    #openbtn{display: block; margin-top: 40px;}
}
