body {background-color: #FFDB58; margin: 0 auto; text-align: center; font-family: 'Fira Sans Extra Condensed', sans-serif;}
nav {color: black; cursor: default; font-size: 3em;}


@media screen and (max-width: 900px){ 
    img{width: 98%;}
}
