body {background-color: #FFCC00; margin: 0 auto; text-align: center; font-family: Helvetica, sans-serif; user-select: none;}
nav {color: black; cursor: default; font-size: 3em;}


@media screen and (max-width: 900px){ 
    img{width: 98%;}
}
